div.contatiner img {
    width: 64px;
    height: 64px;
    border: 2px solid black;
    padding: 3px;
    margin: auto;
}

h1 {
    text-align: center;
}

div.align {
    margin: auto;
    width: 400px;
    display: block;
    position: center;
}